#craps-game {
    background-image: url('../images/vegas.jpg');
    background-position: center;
    color: white;
}

.craps-game-title {
    text-align: center;
    margin-top: 100px;
}

.craps-game-container {
    width: min(700px, 80vw);
    height: min(500px, 57vw);
    border: solid white 2px;
    margin: 0 auto 0 auto;
    background-image: url('../images/crapsTable.jpg');
    background-size: cover;
    background-position: center;
}  

#craps-registration-pane {
    margin-top: 55px;
    text-align: center;
}

.craps-registration-input {
    background: none;
    border: none;
    border-bottom: solid white 1px;
    margin-top: 25px;
    color: white;
    text-align: center;
}

.craps-registration-input:focus {
    outline-width: 0;
}

.craps-registrtaion-continue {
    margin-top: 25px;
}

.craps-registrtaion-continue:hover {
    cursor: pointer;
    font-weight: bold;
}

#craps-main-section {
    display: none;
}