 :root{
    --titleSectionPrimaryColor: rgb(209, 193, 193);
    --titleSectionSecondaryColor: rgb(255, 255, 255);
    --titleSectionTertiaryColor: rgb(122, 76, 44);
 }
#title { 
        color: var(--titleSectionPrimaryColor);
        text-align: center;
        padding-top: 200px;
        background-image: url('../images/declan-sun-35Ff2Poa53s-unsplash.jpg');
        background-position: center top;
    }
.title-section-border {
    margin-bottom: -5px
}

.title-section-subtitle {
    margin-bottom: 40px;
}
    .title-section-button {
         color: var(--titleSectionPrimaryColor);
         border: solid var(--titleSectionPrimaryColor) 1px;
         border-radius: 5px;
         padding: 15px 20px;
         background-color: transparent;
    }
    button:hover {
        background-color: var(--titleSectionPrimaryColor);
        color: var(--titleSectionSecondaryColor)
        cursor: pointer;
    }
    